* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    transition: all ease 0.3s;
}

button:hover {
    color: #fff;
    background-color: #000;
}

ul {
    display: flex;
    margin-top: 40px;
}

ul li {
    list-style: none;
    padding: 20px 30px;
}

ul li:hover {
    transform: rotate(300deg);
    transition-duration: 0.2s;
    transform-origin: 10px;
}

ul li a {
    color: #000;
    text-decoration: none;
    transition: 0.2s ;
}

ul li a:hover {
    background-color: antiquewhite;
    transition-duration: 3s;
    color: red;
}
