main {
    margin-top: 200px;
}

.ac-container {
    max-width: 400px;
    margin-top: 100px;
}

.ac-container label {
    height: 50px !important;
    line-height: 21px !important;
    font-size: 1.5rem !important;
    font-family: 'Open Sans','Arial Narrow',Arial,sans-serif !important;
    padding: 15px 0;
    position: relative;
    z-index: 20;
    text-transform: capitalize;
    display: block;
    height: 30px;
    cursor: pointer;
    color: #000000;
    line-height: 33px;
    font-size: 19px;
    height: 30px;
    text-transform: uppercase;
    line-height: 20px;
    font-weight: 700;
}

.ac-container {
    width: 100%;
    margin: 10px auto 30px auto;
    text-align: left;
}

.ac-container input:checked + label,.ac-container input:checked + label:hover {
    background: #ffffff;
    height: 30px;
    line-height: 21px;
    font-size: 13px;
}

.ac-container label:hover:after,.ac-container input:checked + label:hover:after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    right: 13px;
    top: 7px;
    background: transparent url("/assets/images2/arrow_down.png") no-repeat center center;
}

.ac-container input:checked + label:hover:after {
    background-image: url("/assets/images2/arrow_up.png");
}

.ac-container input {
    display: none;
}

.ac-container article {
    background: rgb(255, 255, 255);
    margin-top: -1px;
    border-bottom: 1px solid #9f9c9c;
    overflow: hidden;
    height: 0;
    position: relative;
    z-index: 10;
    -webkit-transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
    -moz-transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
    -o-transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
    -ms-transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
    transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
}

.ac-container article p {
    font-style: normal;
    color: #000000;
    line-height: 33px;
    font-size: 10px;
    padding: 20px 0;
    font: normal normal 12px 'Open Sans';
}

.ac-container input:checked ~ article {
    -webkit-transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
    -moz-transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
    -o-transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
    -ms-transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
    transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
}

.ac-container input:checked ~ article.ac-small {
    height: 140px;
}

.ac-container input:checked ~ article.ac-medium {
    height: 180px;
}

.ac-container input:checked ~ article.ac-large {
    height: 230px;
}

.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    display: flex;
    flex-direction: row;
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 15px;
  }

  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }
  ul.breadcrumb li a:hover {
    color: #01447e;
  }

  .breadcrumb-span {
    height: 30px;
    font-size: 30px;
  }

.product-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    width: 60%;
}

.main-container-top {
    display: flex;
    justify-content: space-between;
    padding: 20px 70px;
}



.button-group{
    display: flex;
    justify-content: space-between;
}

.button-group button {
    background-color: none;
    padding: 0 12px;
    font-size: 15px;
    height: 20px;
    color: black;
    transition: all ease 0.3s;
}

.button-group .prev-btn {
    border-right: 1px solid black;
}

.button-group button:hover {
    color: #0275d8;
}

.main-container-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.shop-container {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 70px;
    width: 100%;
}

.shop-container .left-container {
    width: 1300px;
    height: 600px;
    border: #0000002c solid 1px;
    padding: 40px 12px;
    margin-left: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-container .right-container {
    margin-left:50px ;
    width: 100%;
}

.shop-container img {
    width: 350px;
    height: 500px;
}

.right-container-content h1 {
    color: #000;
    padding-bottom: 15px;
}

.right-container-content h3 {
    font-size: 1.3rem;
    padding-bottom: 15px;
}

.quantity {
    margin-bottom: 40px;
}

.quantity label {
    margin-bottom: 15px;
    color: #000;
}

.quantity input[type="number"] {
    width: 80px;
    margin-top: 20px;
    border: 1px solid rgba(128, 128, 128, 0.333);
    outline: none;
    padding: 8px 15px;
    font-size: 13px;
}

.add-to-cart-div {
    display: flex;
    margin-top: 15px;
}

.add-to-cart-div .add-to-cart-btn {
    background-color: #fff;
    border: 1px solid #000;
    width: 320px;
    transition: all ease 0.3s;
    margin-right: 10px;
    border-radius: 3px;
    padding: 6px 0;
}

.add-to-cart-div .add-to-cart-btn:hover {
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
}

.add-to-wishlist-btn {
    background-color: #000;
    color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.3s;
    border: 1px solid #000;
    border-radius: 3px;

}

.add-to-wishlist-btn:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
}

.right-container-content .buy-now-btn {
    margin-top: 7px;
    width: 100%;
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    padding: 6px 0;
    border-radius: 3px;
    margin-bottom: 30px;
    transition: all ease 0.3s;
}

.right-container-content .buy-now-btn:hover{
    background-color: #fff;
    color: #000;
}

.footer {
    margin-top: 200px;
}



@media (max-width: 999px) {

    .main-container-top {
        display: flex;
        justify-content: space-between;
        padding: 20px 10px;

    }    

    main {
        margin-top: 60px;
    }

    
}

@media (max-width: 885px) {
    .main-container {
        width: 90%;
        background-color: #01447e;
        display: flex;
        flex-direction: column;
    }

    .shop-container .left-container {
        width: 630px;
        height: 600px;
        border: #0000002c solid 1px;
        padding: 40px 12px;
        margin-left: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .shop-container .right-container {
        margin-left:20px ;
        width: 400px;
        background-color: red;
    }
}

@media (max-width: 885px) {
    .main-container {
        width: 90%;
        background-color: #01447e;
        display: flex;
        flex-direction: column;
    }

    .shop-container .left-container {
        width: 530px;
        height: 500px;
        border: #0000002c solid 1px;
        padding: 40px 12px;
        margin-left: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .shop-container .right-container {
        margin-left:20px ;
        width: 300px;
        background-color: red;
    }
}

@media (max-width: 885px) {
    .main-container {
        width: 95%;
        background-color: #01447e;
        display: flex;
        flex-direction: column;
    }

    .shop-container .left-container {
        width: 430px;
        height: 400px;
        border: #0000002c solid 1px;
        padding: 40px 12px;
        margin-left: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .shop-container .right-container {
        margin-left:20px ;
        width: 300px;
        background-color: red;
    }
}

@media (max-width: 428px) {

    .button-group button {
        background-color: none;
        padding: 0 12px;
        font-size: 12px;
        height: 20px;
        color: black;
        transition: all ease 0.3s;
    }

    .breadcrumb li {
        font-size: 10px;
    }

    .breadcrumb li a{
        font-size: 10px;
    } 
    .shop-container{
        display: flex;
        flex-direction: column;
    }
    .main-container {
        width: 95%;
        background-color: #01447e;
        display: flex;

    }

    .shop-container .left-container {
        width: 430px;
        height: 400px;
        border: #0000002c solid 1px;
        padding: 40px 12px;
        margin-left: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .shop-container .right-container {
        margin-left:20px ;
        width: 300px;
        background-color: red;
    }

    .main-container-bottom {
        background-color: blue;
        padding: 120px 0;
        margin: 0;
    }

    .shop-container {
        padding: 20px 0;
        width: 100%;
    }

    .shop-container .left-container  {
        width: 370px;
        border: 1px solid #fff;
        background-color: aqua;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .left-container .img-div{
        padding: 40px 0;
        width: 300px;
    }

    .left-container .img-div img {
        width: 330px;
        height: 450px;
    }

    .right-container {
        width: 500px;
        background-color: green2;
    }
}